.container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.overlay {
	background-color: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
	opacity: 0.5;
}

.modal {
	background-color: white;
	padding: 30px;
	max-width: 400px;
	z-index: 2;
	position: relative;
}

.btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}
